{
    "api_key": "YOUR API KEY",
    "task_project_mapping": {
        "CHARMTASKID": <REDMINE PROJECT ID>,
        "OTHERCHARMTASKID": <OTHER REDMINE PROJECT ID>
    },
    "task_activity_mapping" : {
        "CHARMTASKID": <REDMINE ACTIVITY ID>,
        "OTHERCHARMTASKID": <OTHER REDMINE ACTIVITY ID>
    },
    "db_path": "/home/USERNAME/.local/share/KDAB/Charm/Charm.db"
}
